*.pyc
Sknne_app/migrations/__pycache__/0011_alter_estimation_appartment_alter_estimation_user_and_more.cpython-312.pyc
Sknne_app/migrations/__pycache__/0010_alter_appartment_city.cpython-312.pyc
Sknne_app/migrations/__pycache__/0009_alter_appartment_owner.cpython-312.pyc
Sknne_app/migrations/__pycache__/0008_remove_user_is_active_remove_user_is_staff.cpython-312.pyc
Sknne_app/migrations/__pycache__/0007_remove_appartment_image_image.cpython-312.pyc
Sknne_app/migrations/__pycache__/0006_alter_appartment_image.cpython-312.pyc
Sknne_app/migrations/__pycache__/0005_remove_appartment_room_description_and_more.cpython-312.pyc
Sknne_app/migrations/__pycache__/0004_remove_user_last_login.cpython-312.pyc
Sknne_app/migrations/__pycache__/0003_user_is_active_user_is_staff.cpython-312.pyc
Sknne_app/migrations/__pycache__/0001_initial.cpython-312.pyc
Sknne_app/migrations/__pycache__/0002_user_last_login.cpython-312.pyc
Sknne_app/migrations/__pycache__/__init__.cpython-312.pyc
Sknne_app/migrations/0012_alter_appartment_rating_alter_appartment_total_votes.py
Sknne_app/migrations/0011_merge_20240829_0118.py
Sknne_app/migrations/0010_merge_20240828_2230.py
Sknne_app/migrations/0001_initial.py
Sknne_app/migrations/__init__.py
