<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/signup.css">
    <style>
        #title {
            font-size: 50px !important;
        }

        #h1 {
            font-size: 15px;
        }

        /* For Chrome, Safari, Edge, and Opera */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* For Firefox */
        input[type="number"] {
            -moz-appearance: textfield;
        }

        .gradient-text {
            background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            /* Adjust the direction and colors as needed */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
    <title>resideo.</title>
</head>

<body>
    <div class="pxp-header fixed-top pxp-animate">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-5 col-md-2">
                    <a id="title" href="index.html" class="pxp-logo text-decoration-none ">Sknne</a>
                </div>
                <div class="col-2 col-md-8 text-center">
                    <ul class="pxp-nav list-inline">
                        <li class="list-inline-item">
                            <a id="h1" href="#">Home</a>
                            <ul class="pxp-nav-sub rounded-lg">
                                <li><a href="index.html">Version 1</a></li>
                                <li><a href="index-2.html">Version 2</a></li>
                                <li><a href="index-3.html">Version 3</a></li>
                                <li><a href="index-4.html">Version 4</a></li>
                                <li><a href="index-5.html">Version 5</a></li>
                                <li><a href="index-6.html">Version 6</a></li>
                            </ul>
                        </li>
                        <li class="list-inline-item">
                            <a id="h1" href="#">Properties</a>
                            <ul class="pxp-nav-sub rounded-lg">
                                <li><a href="properties.html">All Properties</a></li>
                                <li><a href="single-property.html">Single Property</a></li>
                                <li><a href="submit-property.html">Submit New Property</a></li>
                            </ul>
                        </li>
                        <li class="list-inline-item">
                            <a id="h1" href="#">Agents</a>
                            <ul class="pxp-nav-sub rounded-lg">
                                <li><a href="agents.html">All Agents</a></li>
                                <li><a href="single-agent.html">Single Agent</a></li>
                            </ul>
                        <li class="list-inline-item">
                            <a id="h1" href="#">Themes</a>
                            <ul class="pxp-nav-sub rounded-lg">
                                <li><a href="../light/index.html">Light</a></li>
                                <li><a href="../dark/index.html">Dark</a></li>
                            </ul>
                        </li>
                        <li class="list-inline-item pxp-is-last"><a id="h1" href="contact.html">Contact Us</a></li>
                        <li class="list-inline-item pxp-has-btns">
                            <div class="pxp-user-btns">
                                <a href="#" class="pxp-user-btns-signup pxp-signup-trigger">Sign Up</a>
                                <a href="#" class="pxp-user-btns-login pxp-signin-trigger">Sign In</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-5 col-md-2 text-right">
                    <a href="javascript:void(0);" class="pxp-header-nav-trigger"><span class="fa fa-bars"></span></a>
                    <a href="javascript:void(0);" class="pxp-header-user pxp-signin-trigger"><span
                            class="fa fa-user-o"></span></a>
                    <h5 id="name">{{user.first_name}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="pxp-content">
        <div class="pxp-hero vh-100">
            <div class="pxp-hero-bg pxp-cover pxp-cover-bottom"
                style="background-image: url('{% static 'images/photo-1560448204-e02f11c3d0e2.avif' %}');"></div>
            <div class="pxp-hero-opacity"></div>
            <div class="pxp-hero-caption">
                <div class="container">
                    <h1 class="text-white gradient-text">Find your future Apartment</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid pxp-props-carousel-right mt-100">
            <h2 class="pxp-section-h2">Favourite Appartments</h2>
            <p class="pxp-text-light">Browse our highest rated</p>
            <div class="pxp-props-carousel-right-container mt-4 mt-md-5">
                <div class="owl-carousel pxp-props-carousel-right-stage">
                    <div>
                        <a href="single-property.html" class="pxp-prop-card-1 rounded-lg">
                            <div class="pxp-prop-card-1-fig pxp-cover" style="background-image: url('{% static "images/prop-1-1-gallery.jpg" %}');"></div>
                            <div class="pxp-prop-card-1-fig pxp-cover""></div>
                                <div class=" pxp-prop-card-1-gradient pxp-animate"></div>
                            <div class="pxp-prop-card-1-details">
                                <div class="pxp-prop-card-1-details-title">Alola in Nablus</div>
                                <div class="pxp-prop-card-1-details-price">$100</div>
                                <div class="pxp-prop-card-1-details-features text-uppercase">2 BD</div>
                            </div>
                            <div class="pxp-prop-card-1-details-cta text-uppercase">View Details</div>
                        </a>
                    </div>

                    <div>
                        <a href="single-property.html" class="pxp-prop-card-1 rounded-lg">
                            <div class="pxp-prop-card-1-fig pxp-cover" style="background-image: url('{% static "images/prop-8-1-gallery.jpg" %}');"></div>

                            <div class="pxp-prop-card-1-gradient pxp-animate"></div>
                            <div class="pxp-prop-card-1-details">
                                <div class="pxp-prop-card-1-details-title">Alamal in Ramallah</div>
                                <div class="pxp-prop-card-1-details-price">Price</div>
                                <div class="pxp-prop-card-1-details-features text-uppercase">1 BD</div>
                            </div>
                            <div class="pxp-prop-card-1-details-cta text-uppercase">View Details</div>
                        </a>
                    </div>

                    <div>
                        <a href="single-property.html" class="pxp-prop-card-1 rounded-lg">
                            <div class="pxp-prop-card-1-fig pxp-cover" style="background-image: url('{% static "images/prop-3-1-gallery.jpg" %}');"></div>
                            <div class="pxp-prop-card-1-gradient pxp-animate"></div>
                            <div class="pxp-prop-card-1-details">
                                <div class="pxp-prop-card-1-details-title">bulding in town</div>
                                <div class="pxp-prop-card-1-details-price">Price</div>
                                <div class="pxp-prop-card-1-details-features text-uppercase">2 BD</div>
                            </div>
                            <div class="pxp-prop-card-1-details-cta text-uppercase">View Details</div>
                        </a>
                    </div>

                    <div>
                        <a href="single-property.html" class="pxp-prop-card-1 rounded-lg">
                            <div class="pxp-prop-card-1-fig pxp-cover" style="background-image: url('{% static "images/prop-7-1-big.jpg" %}');"></div>
                            <div class="pxp-prop-card-1-gradient pxp-animate"></div>
                            <div class="pxp-prop-card-1-details">
                                <div class="pxp-prop-card-1-details-title">bulding in town</div>
                                <div class="pxp-prop-card-1-details-price">Price</div>
                                <div class="pxp-prop-card-1-details-features text-uppercase">2 BD</div>
                            </div>
                            <div class="pxp-prop-card-1-details-cta text-uppercase">View Details</div>
                        </a>
                    </div>

                    <div>
                        <a href="single-property.html" class="pxp-prop-card-1 rounded-lg">
                            <div class="pxp-prop-card-1-fig pxp-cover" style="background-image: url('{% static "images/prop-8-1-gallery.jpg" %}');"></div>
                            <div class="pxp-prop-card-1-gradient pxp-animate"></div>
                            <div class="pxp-prop-card-1-details">
                                <div class="pxp-prop-card-1-details-title">bulding in town</div>
                                <div class="pxp-prop-card-1-details-price">Price</div>
                                <div class="pxp-prop-card-1-details-features text-uppercase">2 BD</div>
                            </div>
                            <div class="pxp-prop-card-1-details-cta text-uppercase">View Details</div>
                        </a>
                    </div>

                    <div>
                        <a href="single-property.html" class="pxp-prop-card-1 rounded-lg">
                            <div class="pxp-prop-card-1-fig pxp-cover" style="background-image: url('{% static "images/prop-9-1-gallery.jpg" %}');"></div>
                            <div class="pxp-prop-card-1-gradient pxp-animate"></div>
                            <div class="pxp-prop-card-1-details">
                                <div class="pxp-prop-card-1-details-title">bulding in town</div>
                                <div class="pxp-prop-card-1-details-price">Price</div>
                                <div class="pxp-prop-card-1-details-features text-uppercase">2 BD</div>
                            </div>
                            <div class="pxp-prop-card-1-details-cta text-uppercase">View Details</div>
                        </a>
                    </div>
                </div>

                <a href="properties.html" class="pxp-primary-cta text-uppercase mt-4 mt-md-5 pxp-animate">Browse All</a>
            </div>
        </div>

        <div class="pxp-services pxp-cover mt-100 pt-100 mb-200" style="background-image: url('{% static "images/services-h-fig.jpg" %}'); background-position: 50% 60%;">

            <h2 class="text-center pxp-section-h2">Why Choose Us</h2>
            <p class="pxp-text-light text-center">We offer perfect real estate services</p>

            <div class="container">
                <div class="pxp-services-container rounded-lg mt-4 mt-md-5">
                    <a href="properties.html" class="pxp-services-item">
                        <div class="pxp-services-item-fig">
                            <img src="{% static 'images/service-icon-1.svg' %}" alt="Service Icon">
                        </div>
                        <div class="pxp-services-item-text text-center">
                            <div class="pxp-services-item-text-title">Find your future home</div>
                            <div class="pxp-services-item-text-sub">We help you find a new home by offering<br>a smart
                                real estate experience</div>
                        </div>
                        <div class="pxp-services-item-cta text-uppercase text-center">Learn More</div>
                    </a>
                    <a href="agents.html" class="pxp-services-item">
                        <div class="pxp-services-item-fig">
                            <img src="{% static 'images/service-icon-2.svg' %}" alt="...">

                        </div>
                        <div class="pxp-services-item-text text-center">
                            <div class="pxp-services-item-text-title">Experienced agents</div>
                            <div class="pxp-services-item-text-sub">Find an agent who knows<br>your market best</div>
                        </div>
                        <div class="pxp-services-item-cta text-uppercase text-center">Learn More</div>
                    </a>
                    <a href="properties.html" class="pxp-services-item">
                        <div class="pxp-services-item-fig">
                            <img src="{% static 'images/service-icon-3.svg' %}" alt="...">

                        </div>
                        <div class="pxp-services-item-text text-center">
                            <div class="pxp-services-item-text-title">Buy or rent homes</div>
                            <div class="pxp-services-item-text-sub">hundreds of Appartments<br>your favourite cities
                            </div>
                        </div>
                        <div class="pxp-services-item-cta text-uppercase text-center">Learn More</div>
                    </a>
                    <a href="submit-property.html" class="pxp-services-item">
                        <div class="pxp-services-item-fig">
                            <img src="{% static 'images/service-icon-4.svg' %}" alt="...">
                        </div>
                        <div class="pxp-services-item-text text-center">
                            <div class="pxp-services-item-text-title">List your own property</div>
                            <div class="pxp-services-item-text-sub">Sign up now rent<br>your own properties</div>
                        </div>
                        <div class="pxp-services-item-cta text-uppercase text-center">Learn More</div>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="pxp-cta-1 pxp-cover mt-100 pt-300" style="background-image: url('{% static "images/cta-fig-1.jpg"%}'); background-position: 50% 60%;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="pxp-cta-1-caption pxp-animate-in">
                            <h2 class="pxp-section-h2">Search Smarter, From Anywhere</h2>
                            <p class="pxp-text-light">Power your search with our Sknne real estate platform, for timely
                                listings and a seamless experience.</p>
                            <a href="properties.html"
                                class="pxp-primary-cta text-uppercase mt-3 mt-md-5 pxp-animate">Search Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="pxp-footer pt-100 pb-100 mt-100">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="pxp-footer-logo">Sknne</div>
                        <div class="pxp-footer-social mt-2">
                            <a href="#"><span class="fa fa-instagram"></span></a>
                            <a href="#"><span class="fa fa-facebook-square"></span></a>
                            <a href="#"><span class="fa fa-twitter"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-8">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <h4 class="pxp-footer-header mt-4 mt-lg-0">Company</h4>
                                <ul class="list-unstyled pxp-footer-links mt-2">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Agents</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Demos</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <h4 class="pxp-footer-header mt-4 mt-lg-0">Actions</h4>
                                <ul class="list-unstyled pxp-footer-links mt-2">
                                    <li><a href="#">Buy Properties</a></li>
                                    <li><a href="#">Rent Properties</a></li>
                                    <li><a href="#">Sell Properties</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <h4 class="pxp-footer-header mt-4 mt-lg-0">Explore</h4>
                                <ul class="list-unstyled pxp-footer-links mt-2">
                                    <li><a href="#">Homes for Rent</a></li>
                                    <li><a href="#">Apartments for Rent</a></li>
                                    <li><a href="#">Homes for Sale</a></li>
                                    <li><a href="#">Apartments for Sale</a></li>
                                    <li><a href="#">CRM</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pxp-footer-bottom mt-2">
                    <div><a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a></div>
                    <div class="pxp-footer-copyright">&copy; Resideo. All Rights Reserved. 2021</div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="pxp-signin-modal" tabindex="-1" role="dialog" aria-labelledby="pxpSigninModal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 class="modal-title" id="pxpSigninModal">Welcome back!</h5>
                        <form class="mt-4">
                            <div class="form-group">
                                <label for="pxp-signin-email">Email</label>
                                <input type="text" class="form-control" id="pxp-signin-email"
                                    placeholder="Enter your email address">
                            </div>
                            <div class="form-group">
                                <label for="pxp-signin-pass">Password</label>
                                <input type="password" class="form-control" id="pxp-signin-pass"
                                    placeholder="Enter your password">
                            </div>
                            <div class="form-group">
                                <a href="#" class="pxp-agent-contact-modal-btn">Sign In</a>
                            </div>
                            <div class="form-group mt-4 text-center pxp-modal-small">
                                <a href="#" class="pxp-modal-link">Forgot password</a>
                            </div>
                            <div class="text-center pxp-modal-small">
                                New to Resideo? <a href="javascript:void(0);"
                                    class="pxp-modal-link pxp-signup-trigger">Create an account</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="pxp-signup-modal" tabindex="-1" role="dialog" aria-labelledby="pxpSignupModal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 class="modal-title" id="pxpSignupModal">Create an account</h5>                        
                        {%if messages%}
                        <ul id="messages" class="messages">
                            {% for message in messages %}
                            {% if 'error' in message.tags %}
                            <li {% if message.tags %} id="msg" class="{{ message.tags}}" {% endif %}>{{message}}</li>
                            {%endif%}
                            {%endfor%}
                        </ul>
                        {%endif%}
                        <form action="/signup" class="mt-4" id="signup_form" method="post">
                            {%csrf_token%}
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="pxp-signup-firstname">First Name</label>
                                        <input name="first_name" id="first_name" type="text" class="form-control"
                                            id="pxp-signup-firstname" placeholder="Enter first name">
                                        <span id="first_name_error"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="pxp-signup-lastname">Last Name</label>
                                        <input id="last_name" name="last_name" type="text" class="form-control"
                                            id="pxp-signup-lastname" placeholder="Enter last name">
                                        <span id="last_name_error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pxp-signup-email">Email</label>
                                <input id="email" type="text" name="email" class="form-control" id="pxp-signup-email"
                                    placeholder="Enter your email address">
                                <span id="email_error"></span>
                            </div>
                            <div class="form-group">
                                <label for="pxp-signup-pass">Password</label>
                                <input id="password" type="password" name="password" class="form-control"
                                    id="pxp-signup-pass" placeholder="Create a password">
                                <span id="password_error"></span>
                            </div>
                            <div class="form-group">
                                <label for="pxp-signup-pass">Confirm Password</label>
                                <input id="confirm_password" type="password" name="cpw" class="form-control"
                                    id="pxp-signup-pass" placeholder="Confirm password">
                                <span id="confirm_password_error"></span>
                            </div>
                            <div class="form-group">
                                <label for="pxp-signup-pass">Number</label>
                                <input id="number" type="number" class="form-control" name="number" id="pxp-signup-pass"
                                    placeholder="Enter Your Phone Number">
                                <span id="number_error"></span>
                            </div>
                            <div class="form-group" id="signup_btn">
                                <button class="pxp-agent-contact-modal-btn" type="submit">SIGN UP</button>
                            </div>
                            <div class="text-center mt-4 pxp-modal-small">
                                Already have an account? <a href="javascript:void(0);"
                                    class="pxp-modal-link pxp-signin-trigger">Sign in</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/jquery-3.4.1.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/owl.carousel.min.js"></script>
        <script src="/static/js/main.js?lasjkj"></script>
        <script src="/static/js/signup.js"></script>
</body>

</html>